*.dcm
*.pth
*.dmg
*.log
*.tmp
*.DS_Store
*.pem
__pycache__/
*.py[cod]
*.log
*.env
*.spec
*.zip
*.coverage
*.anonymizer_state.json
htmlcov/*
dist/*
build/*
src/build/*
src/dist/*
src/logs/*
src/certs/*
src/assets/ocr/*
dicom/*
phi_imgs/*
**/versionfile.txt
**/radon_results.txt
Pipfile.lock
.python-version