[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
tkhtmlview = "*"
pydicom = "*"
pynetdicom = "*"
ifaddr = "*"
pandas = "*"
numpy = "*"

[dev-packages]
radon = "*"
coverage = "*"
pyinstaller = "*"
pyinstaller-versionfile = "*"
pytest = "*"
