[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pillow = "*"
tkhtmlview = "*"
netifaces = "*"
ctktooltip = "*"
pydicom = "*"
pynetdicom = "*"
ttkwidgets = "*"
ctkmessagebox = "*"

[dev-packages]
pytest = "*"
radon = "*"
coverage = "*"

[requires]
python_version = "3.11"
