[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
customtkinter = "*"
pillow = "*"
tkhtmlview = "*"
pydicom = "*"
pynetdicom = "*"
ifaddr = "*"
boto3 = "*"
pywin32-ctypes = "*"
pefile = "*"
openpyxl = "*"
psutil = "*"
opencv-python-headless = "*"
easyocr = "*"
pylibjpeg = {extras = ["all"], version = "*"}

[dev-packages]
radon = "*"
coverage = "*"
pyinstaller = "*"
pyinstaller-versionfile = "*"
pytest = "*"
pylint = "*"
python-dotenv = "*"
